<div class="container index">
  <div class="mini">

    <h1>{{model.name}}</h1>

    {{#each model.listings as |listing|}}
    <h3>{{#link-to 'listing' listing}}{{listing.title}}{{/link-to}}</h3>
    {{/each}}

    {{add-listing-tile category=model addListing="addListing"}}
  </div>

  {{#link-to 'index'}}Home{{/link-to}}
</div>
