<div class="container index">
  <div class="mini">
  <h1 class="index">Connorslist</h1>
</div>
<div class="mini">

  <p>Today is: {{current-date}}</p>


    {{#each model as |category|}}
      {{category-tile category=category}}
    {{/each}}
</div>
</div>
